<div>
  <mat-form-field class="suggest-form">
    <mat-label>Start typing karma topic to search (e.g.: java, aws, algorithms)</mat-label>
    <input class="suggest-input" matInput type="text" [(ngModel)]="value" (keyup)="onSuggestInputChange()">
  </mat-form-field>

  <div [hidden]="!inProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div>
    <mat-card *ngFor="let suggestion of suggestions" class="suggest-item-box">
      <div class="flex-row">
        <img class="suggest-site-logo" src="{{suggestion.site}}/favicon.ico">
        <mat-card-header>
          <mat-card-title>{{suggestion.name}}</mat-card-title>
          <mat-card-subtitle>{{suggestion.description}}</mat-card-subtitle>
        </mat-card-header>
      </div>
    </mat-card>
  </div>
</div>
