<div class="suggest-component">
  <mat-form-field class="suggest-form">
    <mat-label>Start typing karma topic to search (e.g.: java, aws, algorithms)</mat-label>

    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let suggestion of selectedSuggestions"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(suggestion)"
        matTooltip="{{suggestion.description}}">
        <img class="suggest-chip-site-logo" src="{{suggestion.site}}/favicon.ico">
        <span class="suggest-chip-span">{{suggestion.name}}</span>
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>

      <input
        class="suggest-input"
        matInput
        type="text"
        (keyup)="onSuggestInputChange()"
        [(ngModel)]="suggestion"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">

      <button mat-button *ngIf="suggestion" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-chip-list>

  </mat-form-field>

  <div [hidden]="!inProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="full-width flex-column">
    <button mat-raised-button (click)="navigateToFeed()">Create feed</button>
  </div>

  <div>
    <mat-card *ngFor="let suggestion of allSuggestions" class="suggest-item-box">
      <div class="flex-row" (click)="add(suggestion)">
        <img class="suggest-site-logo" src="{{suggestion.site}}/favicon.ico">
        <mat-card-header>
          <mat-card-title>{{suggestion.name}}</mat-card-title>
          <mat-card-subtitle>{{suggestion.description}}</mat-card-subtitle>
        </mat-card-header>
      </div>
    </mat-card>
  </div>
</div>
