<div>

  <div [hidden]="!inProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div>
    <mat-card *ngFor="let item of feed" class="feed-item-box">
      <div class="flex-row">
        <img class="feed-item-icon" src="{{item.site}}/favicon.ico">
        <mat-card-header>
          <mat-card-title class="feed-item-title" (click)="openItem(item)">{{item.name}}</mat-card-title>
          <mat-card-subtitle>
            {{item.getDescription()}}
            <span class="feed-item-description-expand"
                  [hidden]="!item.showLess()"
                  (click)="item.triggerShortDescription()">Show Less</span>

            <span class="feed-item-description-expand"
                  [hidden]="!item.showMore()"
                  (click)="item.triggerShortDescription()">Show More</span>
          </mat-card-subtitle>

          <mat-card-subtitle (show)="item.parentLink">
            From: <a href="{{item.parentLink}}" target="_blank">{{item.parentLink}}</a>
            <span class="feed-item-created">Created: {{item.created}}</span>
          </mat-card-subtitle>
        </mat-card-header>
      </div>
    </mat-card>

    <div [hidden]="inProgress">
      <mat-paginator class="feed-item-pagination"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageIndex]="pageIndex"
                     [length]="1000"
                     (page)="onPageEvent($event)">
      </mat-paginator>
    </div>
  </div>

</div>
