.feed-item-box {
  margin: 15px;
}

.feed-item-icon {
  width: 20px;
  height: 20px;
}

.feed-item-title {
  text-decoration: underline;
}

.feed-item-title:hover {
  color: #0645AD;
  cursor: pointer;
}
